<div class='user'>
<div class='image-container'>
  <img src=<%= user.photo %> >
</div>
  <div class='user-details'>
    <h2><%= link_to user.name, user_posts_path(user.id) %></h2>
    <div class='userform'>
      <p>Number of posts: <%= user.posts.count %></p>
      <% if can? :create, user.posts.new %>
        <%= link_to 'Add Post', new_user_post_path(user.id), class: 'add-form' %>
      <% end %>
        <%= link_to 'See all posts', user_posts_path(user.id), class: 'add-form' %>

    </div>
  </div>
</div>

