<div class='post'>
    <div class='single-post'>
        <div class='post-header'>
            <h3>Post #<%= @post.id %> by <%= @post.user.name %></h3>
            <div class='counters post-counts'>
                <span>Comments: <%= @post.comments_counter ||= 'No comments yet' %></span>,
                <span>Likes: <%= @post.likes_counter ||= 0 %></span>
            </div>
        </div>
        <p><%= @post.text%>...</p>

    </div>
        <div class='comment-sect post-comment'>
            <% @post.comments.each do |comment|%>
                <%= render comment %>
            <% end %>
        </div>

</div>