<div class='post'>
    <% flash.each do |name,value|%>
  <div class = '<%=name %> flash'>
    <%= value %>
  </div>
<%end%>

    <div class='single-post'>
        <div class='post-header'>
            <h3>Post #<%= @post.id %> by <%= @post.user.name %></h3>
            <div class='counters post-counts'>
                <span>Comments: <%= @post.comments.size ||= 0 %></span>,
                <span>Likes: <%= @post.likes_counter ||= 0 %></span>
            </div>
        </div>
        <p><%= @post.text%>...</p>

    <%= form_with model: @like, url: "/users/#{@user.id}/posts/#{@post.id}/likes", scope: :like  do |form| %>
        <%= form.submit 'Like post', class: 'likeBtn' %>
    <%end%>
    </div>

    <% unless @post.comments.empty? %>
        <div class='comment-sect post-comment'>
            <% @post.comments.includes(:user).each do |comment|%>
                <%= render comment %>
            <% end %>
        </div>
    <% end %>
    <%= render '/comments/new' %>
</div>